/*estilos de la tabla de competencias tecnicas, la de barra de procesos*/

.progress-bar {
    height: 20px;
    background-color:rgb(195, 195, 195);
    position: relative;
    width: 60%;
    margin-top: 5px;
  }

  .progress {
    height: 100%;
    background-color: rgb(8, 76, 65, 1); 
  }

  .progress-text {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
  }

  #tabla_competencias_tecnicas {
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    /* Estilos para pantallas pequeñas */
    .progress {
      padding-left:5px;
    }
    .progress-text {
      left: 60%;
    }
    #tabla_competencias_tecnicas{
      width: 105%;
    }
    #tabla_competencias_tecnicas td{
      padding-bottom: 40px;
      width: 30%;
    }
}

/*imagenes de la tabla competencias tecnicas*/

.imagen-redondeada {
  border-radius: 10px;
  width:50px;
  height:50px;
}

/*el texto de todas las td tenga más de 3 digitos pero que no se vea*/
.separador_competencias_tecnicas {
  visibility: hidden;
}

@media only screen and (min-width: 600px) {
   /* Estilos para pantallas grandes */
       
  #tabla_competencias_tecnicas td{
    padding-bottom: 40px;
    width: 24%;
  }
 
  }


/*competencias personales*/


#competencia_personales{
  width:90%;
  margin-bottom: -10px;
}

#competencia_personales td{
  padding: 0px;

}    

#competencia_personales p{
  text-align: center;
  
}

#competencia_personales td img{
  width:70px; 
  height:70px;
}

.tamanio {
  font-size: 22px;
}

 @media only screen and (max-width: 1000px) {

  #competencia_personales{
    width:100%;
  }

  #competencia_personales img{
    margin-left: 10%;
  }

  .tamanio {
    font-size: 20px;
  }

 }


