
 /*estilos para la pagina sobre mí que tambien los utilizado en trabajos y formacion*/

  #sobre_mi {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
     
  }
  
  /*la imagen superior del sobre mí*/
  #sobre_mi img{
      border: 2px solid #1a1a1a; 
      border-radius: 10px; 
      box-shadow: 0 0 10px #000; 
  }
  
  @media only screen and (max-width: 600px) {
      /* Estilos para pantallas pequeñas */
      #sobre_mi img{
          width: 90%;
          margin-left: 5%;
      }
  }
  
  
  /*Enlaces de sobre mí*/
  
  
  a:hover {
      color:white;
  }
  
  a {
      text-decoration: underline;
      color: rgb(8, 76, 65, 1); 
  }
  
  
  
  #sobre_mi_perfil {
      width: 50%; 
      margin: 0 auto; 
     
  }
  @media only screen and (max-width: 600px) {
      /* Estilos para pantallas pequeñas */
      #sobre_mi_perfil {
          width: 80%; 
          
      }
  }
  
  
  
  h1 {   
      
      text-align: center;
  }

  /*flecha acia atras*/
  #sobre_mi_perfil_atras {
      
      width: 10%; 
      margin: 0 auto; 
  }
  
  @media only screen and (max-width: 600px) {
      /* Estilos para pantallas pequeñas */
      #sobre_mi_perfil_atras {
      
          width: 25%; 
          margin: 0 auto; 
      }
  }
  
  /*las distintas tablas de la páginas*/

  table {
      font-size: 20px;
      width: 70%;
      margin: auto; 
      border-collapse: collapse; 
      float: left;
  }
 
  td {
    vertical-align: middle; 
    padding: 10px; 
    }
  
  @media only screen and (min-width: 600px) {
      /* Estilos para pantallas pequeñas */
      table {
          width: 70%;
      }
  }
  
  @media only screen and (max-width: 600px) {
      /* Estilos para pantallas pequeñas */
      #competencia_personales {
          width: 110%;
      }
      .miss_celular {
          display: none;
          visibility: hidden;
      }
  }
  
  @media only screen and (min-width: 600px) {
      /* Estilos para pantallas grandes */
      .mostrar_celular {
          display: none;
          visibility: hidden;
      }
  }
  
  
  /*enlaces you-tube y linked*/

  .azul {
    padding-left: 4px;
    border-radius: 5px;
    color: white;
    background-color: rgb(9, 103, 193);
    margin-left: -3px;
  }

  .rojo{
    padding: 2px;
    border-radius: 5px;
    color: white;
    background-color: rgb(205, 32, 31);
    margin-left: -3px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .negro {
    color: black;
  }