/*estilos del slider----------------------------------------------*/

#slider{
    margin: 0 auto;
    display: block; 
    position: relative; 
    width: 725px;
    height: 510px; 
    list-style: none; 
    border: 2px solid #1a1a1a; 
    border-radius: 10px; 
    box-shadow: 0 0 10px #000; 
    overflow: hidden;
    background-size: cover;
    transition: background-image 1s ease-in-out;
}

/*pasar al 90 en celular*/
@media only screen and (max-width: 800px) {
    /* Estilos para pantallas pequeñas */
    #slider {
        width: 90%;
        height: 410px; 
    }
}

/*Slider  ------------------------------------------------------------------------------------------------------------------------------------------*/
.slider-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    
  }
  
  .slider img {
    width: 800px;
    height: 450px;
    border-radius:15px;
    
  }

/*transiciones de imagen a imagen*/
#slider .selected{
    z-index: 1; 
    opacity: 1; 
    -moz-transition: all 2s ease 0s;
    -ms-transition: all 2s ease 0s;
    -o-transition: all 2s ease 0s;
    -webkit-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
}

#slider .noselected{
    z-index: 0; 
    opacity: 0; 
    -moz-transition: all 2s ease 0s;
    -ms-transition: all 2s ease 0s;
    -o-transition: all 2s ease 0s;
    -webkit-transition: all 2s ease 0s;
    transition: all 2s ease 0s;
}


/*Botones del propio slider*/
#botones {
    text-align: center;
    margin-top: 20px;
}

#botones input{
    background-size: cover; 
    width: 15px; 
    height: 15px; 
    border: none;
    cursor: pointer;
}





