video {
    width: 725px; 
    height: 410px; 
    display: block;
    margin: 0 auto; 
    border-radius: 26px; 
    overflow: hidden; 
}

@media (max-width: 800px) {
    video {
        width: 94%; 
        height: auto; 
    }
}

.titulo_video {
    text-align: center;
    color:#333;
}

/*borde del video*/
video {
    border: 2px solid rgb(8, 76, 65, 1);  
    max-width: 100%; 
    box-sizing: border-box;
}